<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <style>
        .digidas-text {
            color: white;
        }
    </style>

    <title>About</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="logo" src="/static/pic/ppd.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link menu" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="/about">About</a>
                    </li>
                </ul>
                <button class="btn tlogin" type="button" onclick="signin()">Sign In</button>
            </div>
        </div>
    </nav>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-centered digidas-text">Selamat Datang Di <i>Digidas</i></h1>
                <p class="subtitle is-4 has-text-centered digidas-text">Temukan keajaiban bersama kami dalam perjalanan
                    rohani Anda!</p>
            </div>
        </div>
    </section>



    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Tentang Digidas</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">@digidas</span>
                                    <span class="tag is-rounded">Dec 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>Digidas lahir dari kolaborasi empat mahasiswa yang sedang menempuh program MSIB X
                                LearningX: Alfin Gunawan, Ahmad Amin, Bryan, dan Daffarah. Mereka tidak hanya membagikan
                                hasrat yang sama untuk inovasi, tetapi juga keinginan yang kuat untuk menciptakan
                                sesuatu yang bermanfaat bagi komunitas. Dengan latar belakang yang berbeda-beda namun
                                saling melengkapi, mereka menggabungkan keahlian dan pengalaman mereka untuk menciptakan
                                entitas yang mampu menjawab tantangan zaman. Didukung oleh pengetahuan yang didapat dari
                                program yang mereka ikuti, Digidas bukan hanya sekadar produk, tetapi sebuah konsep yang
                                membawa solusi inovatif.. </p>
                            <p>Keempat mahasiswa ini membawa perspektif yang beragam ke dalam proyek mereka, memperkaya
                                setiap aspek dari Digidas. Dari kecemerlangan teknis Alfin hingga wawasan kreatif Ahmad,
                                serta semangat kolaboratif Bryan dan visi strategis Daffarah, masing-masing memberikan
                                kontribusi penting dalam membentuk fondasi kuat entitas ini. Mereka berkomitmen untuk
                                tidak hanya menghadirkan layanan berkualitas tinggi, tetapi juga untuk terlibat secara
                                aktif dengan komunitas, menjadikan keberlanjutan dan keterlibatan sosial sebagai poin
                                penting dalam prinsip mereka. Dengan fokus pada inovasi dan pelayanan pelanggan yang
                                unggul, Digidas menjadi wadah bagi solusi yang responsif dan relevan bagi kebutuhan saat
                                ini..</p>
                            <h3 class="has-text-centered">Komitmen Digidas</h3>
                            <p> Proper centering of tags in bulma is done with class:
                                Komitmen Digidas terhadap pelanggan dan komunitasnya tidak hanya terbatas pada
                                memberikan layanan berkualitas tinggi. Mereka memahami bahwa keberlanjutan hubungan
                                dengan pelanggan adalah kunci kesuksesan jangka panjang. Oleh karena itu, Digidas
                                berupaya untuk mendengarkan dengan seksama setiap kebutuhan dan masukan dari pelanggan.
                                Mereka tidak hanya memberikan solusi yang memenuhi harapan, tetapi juga berusaha
                                melampaui ekspektasi dengan tetap mempertahankan standar kualitas yang tinggi.</p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png"
                                    class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Pencapaian 🔱</p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#">@digidas</a> on Dec 2023
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>
                                Saat ini, Digidas telah meraih sejumlah pengakuan yang mengukuhkan kredibilitasnya
                                sebagai penyedia layanan unggulan. Mereka telah diakui dengan berbagai penghargaan
                                industri yang mencerminkan dedikasi mereka terhadap inovasi dan kualitas layanan. Dalam
                                upaya menjalin kemitraan yang kuat, Digidas berhasil menjalin kolaborasi dengan
                                merek-merek terkemuka dalam berbagai proyek yang revolusioner. Kolaborasi ini bukan
                                hanya mengukuhkan reputasi Digidas di industri, tetapi juga membuktikan kualitas serta
                                keandalan layanan yang mereka tawarkan.
                            </p>
                            <p>
                                Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin
                                fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor
                                posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <!-- START PROMO BLOCK -->
                <section class="hero is-info is-bold is-small promo-block">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                الَّذِينَ آمَنُوا وَتَطْمَئِنُّ قُلُوبُهُم بِذِكْرِ اللَّهِ ۗ أَلَا بِذِكْرِ اللَّهِ تَطْمَئِنُّ الْقُلُوبُ
                            </h1>
                            <span class="tag is-black is-medium is-rounded">
                                (Q.S. Ar-Ra'd [13]: 28)
                            </span>
                            <p class="subtitle">
                                "Orang-orang yang beriman dan hati mereka menjadi tenteram dengan mengingat Allah. Ingatlah, hanya dengan mengingat Allah hati menjadi tenteram."
                            </p>
                        </div>
                    </div>
                </section>
                
                <!-- END PROMO BLOCK -->
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png"
                                    class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Visi dan Misi Digidas.</p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#">@digidas</a> on Dec 2023
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>
                                Digidas sebagai platform digitalisasi pesantren adalah menciptakan transformasi positif
                                dalam pengelolaan pesantren melalui integrasi teknologi. Mereka bertujuan untuk
                                menghadirkan inovasi yang memungkinkan pesantren untuk berkembang secara efisien,
                                modern, dan terhubung dengan dunia global.
                            </p>
                            <p>
                                Misi mereka adalah menghadirkan solusi teknologi yang membantu administrasi pesantren,
                                memfasilitasi proses pembelajaran, dan memberikan akses informasi yang luas. Dengan
                                memberdayakan pesantren melalui teknologi, Digidas berkomitmen untuk meningkatkan
                                kualitas pendidikan, mendukung penguatan budaya pesantren, dan menghadirkan pelayanan
                                yang berkelanjutan bagi seluruh komunitas pesantren.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
            </div>

        </section>




        <section class="hero is-fullheight">
            <div class="hero">
                <div class="container has-text-centered">
                    <div class="columns is-8 is-variable ">
                        <div class="column is-two-thirds has-text-left">
                            <h1 class="title is-1">Contact Us</h1>
                            <p class="is-size-4">Kami percaya setiap pesan adalah awal dari cerita yang indah. Jangan
                                ragu untuk berbagi cerita Anda dengan kami!</p>
                            <div class="social-media">
                                <a href="https://facebook.com" target="_blank" class="button is-light is-large"><i
                                        class="fab fa-facebook-square"></i></a>
                                <a href="https://instagram.com" target="_blank" class="button is-light is-large"><i
                                        class="fab fa-instagram-square"></i></a>
                                <a href="https://telegram.com" target="_blank" class="button is-light is-large"><i
                                        class="fab fa-telegram"></i></a>
                            </div>
                        </div>
                        <div class="column is-one-third has-text-left">
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                    <textarea class="textarea is-medium"></textarea>
                                </div>
                            </div>
                            <div class="control">
                                <button type="submit"
                                    class="button is-link is-fullwidth has-text-weight-medium is-medium">Send
                                    Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

        <footer class="text-center text-lg-start text-white" style="background-color: #3e4551">
            <!-- Grid container -->
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                            <p>
                                <li>Alfin Gunawan</li>
                                <li>Ahmad Amin Amrullah</li>
                                <li>Bryan Nathanael Tutuhatunewa</li>
                                <li>Daffara Chairunnisa Zhuliani</li>
                            </p>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="mb-4" />

                <!-- Section: Social media -->
                <section class="mb-4 text-center">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1"
                        href="https://github.com/AminAmrullah03/digidas.git" role="button"><i
                            class="fab fa-github"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="#">DIGIDAS</a>
            </div>
            <!-- Copyright -->
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>